<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image manipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F7A1DB81EDA0FA0006C72C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7A1DCC1EDA0FA2006C72C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7A1DD71EDA0FA2006C72C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
